body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-item {
    height: 32rem;
  }
  
  .texto{
  	margin-left: 20%;
  	margin-top: 10%;
  	color: white;
  	grid-area: "texto";
  }
  
  .plot{
  	max-height: 155px;
  	/*word-break: break-all;*/
  	display: -webkit-box;
  	-webkit-line-clamp: 5;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
  }
  
  .portada{
  	margin-top: 10%;
  	margin-right: 20%;
  	justify-content: center;
  	grid-area: "portada";  	
  }
  
  .portada img{
  	height: 90%;
  	width: 300px;
  	border-radius: 10%;  	
  }
  
  .item-container {
  	height: 100%;
  	width: 100%;
    display: grid;
    gap: 10px;
	grid-template-columns: 60% auto;
	grid-template-areas:
		"texto portada"
  }  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .item-container p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }