<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>

<!-- CSS only -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/prettyPhoto.css" />
<link rel="stylesheet" href="css/flexslider.css" />
<link rel="stylesheet" href="css/custom-styles.css">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="css/carousel.css" rel="stylesheet">
</head>
<body class="text-center">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><strong>ReWatchApp</strong></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Inicio</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/logout">Cerrar Sesión</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/peliculas">Peliculas</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/series">Series</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/animes">Animes</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Lista
								de Espera</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Favoritos</a>
						</li>
						<li class="nav-item"><a class="nav-link active" href="#">Recomendaciones</a>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<main>

		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#myCarousel"
					data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<svg class="bd-placeholder-img" width="100%" height="100%"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
						preserveAspectRatio="xMidYMid slice" focusable="false">
						<rect width="100%" height="100%" fill="#777" /></svg>

					<div class="container">
						<div class="carousel-caption text-start">
							<h1 th:text="${titulo}"></h1>
							<p th:text="${year}"></p>
							<p th:text="${rating}"></p>
							<p>
								<a class="btn btn-lg btn-primary" href="#">Más información</a>
							</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<svg class="bd-placeholder-img" width="100%" height="100%"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
						preserveAspectRatio="xMidYMid slice" focusable="false">
						<rect width="100%" height="100%" fill="#777" /></svg>

					<div class="container">
						<div class="carousel-caption text-start">
							<h1>Estreno #2</h1>
							<p>Descripcion estreno #2</p>
							<p>
								<a class="btn btn-lg btn-primary" href="#">Más información</a>
							</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<svg class="bd-placeholder-img" width="100%" height="100%"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
						preserveAspectRatio="xMidYMid slice" focusable="false">
						<rect width="100%" height="100%" fill="#777" /></svg>

					<div class="container">
						<div class="carousel-caption text-start">
							<h1>Estreno #3</h1>
							<p>Descripcion estreno #3</p>
							<p>
								<a class="btn btn-lg btn-primary" href="#">Más información</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#myCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#myCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>


		<!-- Lista de estrenos
  ================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div>
			<ul class="gallery-post-grid holder">

				<!-- Gallery Item 1 -->
				<li class="span3 gallery-item" data-id="id-1"
					data-type="illustration"><span
					class="gallery-hover-4col hidden-phone hidden-tablet"> <span
						class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Custom
							Illustration</a>For an international ad campaign.</span></li>

				<!-- Gallery Item 2 -->
				<li class="span3 gallery-item" data-id="id-2"
					data-type="illustration"><span
					class="gallery-hover-4col hidden-phone hidden-tablet"> <span
						class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">3
							Color Poster Design</a>For a regional festival event.</span></li>

				<!-- Gallery Item 3 -->
				<li class="span3 gallery-item" data-id="id-3" data-type="web">
					<span class="gallery-hover-4col hidden-phone hidden-tablet">
						<span class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="#" class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Ink
							Pen Illustration</a>Created for a best selling children's book.</span>
				</li>

				<!-- Gallery Item 4 -->
				<li class="span3 gallery-item" data-id="id-4" data-type="video">
					<span class="gallery-hover-4col hidden-phone hidden-tablet">
						<span class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Custom
							Illustration</a>For an international add campaign.</span>
				</li>

				<!-- Gallery Item 5 -->
				<li class="span3 gallery-item" data-id="id-5"
					data-type="web illustration"><span
					class="gallery-hover-4col hidden-phone hidden-tablet"> <span
						class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Icon
							Design</a>Classic retro style illustration.</span></li>

				<!-- Gallery Item 6 -->
				<li class="span3 gallery-item" data-id="id-6"
					data-type="illustration design"><span
					class="gallery-hover-4col hidden-phone hidden-tablet"> <span
						class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Animation
							Cell</a>Creative storyboard illustration</span></li>

				<!-- Gallery Item 7 -->
				<li class="span3 gallery-item" data-id="id-7" data-type="design">
					<span class="gallery-hover-4col hidden-phone hidden-tablet">
						<span class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Poster
							Ad Campaign</a>Regional ad for a local company.</span>
				</li>

				<!-- Gallery Item 8 -->
				<li class="span3 gallery-item" data-id="id-8" data-type="web video">
					<span class="gallery-hover-4col hidden-phone hidden-tablet">
						<span class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Magazine
							Ad</a>For an international add campaign.</span>
				</li>

				<!-- Gallery Item 9 -->
				<li class="span3 gallery-item" data-id="id-9" data-type="design">
					<span class="gallery-hover-4col hidden-phone hidden-tablet">
						<span class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Character
							Designs</a>For a feature film.</span>
				</li>

				<!-- Gallery Item 10 -->
				<li class="span3 gallery-item" data-id="id-10"
					data-type="web design"><span
					class="gallery-hover-4col hidden-phone hidden-tablet"> <span
						class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Poster
							and Ad Design</a>For an international add campaign.</span></li>

				<!-- Gallery Item 11 -->
				<li class="span3 gallery-item" data-id="id-11"
					data-type="illustration"><span
					class="gallery-hover-4col hidden-phone hidden-tablet"> <span
						class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Website
							and Animation</a>For a local business.</span></li>

				<!-- Gallery Item 12 -->
				<li class="span3 gallery-item" data-id="id-12"
					data-type="illustration video"><span
					class="gallery-hover-4col hidden-phone hidden-tablet"> <span
						class="gallery-icons"> <a
							href="img/gallery/gallery-img-1-full.jpg"
							class="item-zoom-link lightbox" title="Custom Illustration"
							data-rel="prettyPhoto"></a> <a href="gallery-single.htm"
							class="item-details-link"></a>
					</span>
				</span> <a href="gallery-single.htm"><img
						src="img/gallery/gallery-img-1-4col.jpg" alt="Gallery"></a> <span
					class="project-details"><a href="gallery-single.htm">Branding
							Design</a>For an international add campaign.</span></li>
			</ul>
		</div>
		</div>

		</div>
		<!-- End Gallery Row -->


		<!-- FOOTER -->
		<footer class="container">
			<p class="float-end">
				<a href="#">Back to top</a>
			</p>
			<p>
				&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a>
				&middot; <a href="#">Terms</a>
			</p>
		</footer>
	</main>

	<!-- JavaScript Bundle with Popper -->
	<script src="js/bootstrap.bundle.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/jquery.custom.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$("#btn-blog-next").click(function() {
				$('#blogCarousel').carousel('next')
			});
			$("#btn-blog-prev").click(function() {
				$('#blogCarousel').carousel('prev')
			});

			$("#btn-client-next").click(function() {
				$('#clientCarousel').carousel('next')
			});
			$("#btn-client-prev").click(function() {
				$('#clientCarousel').carousel('prev')
			});

		});

		$(window).load(function() {

			$('.flexslider').flexslider({
				animation : "slide",
				slideshow : true,
				start : function(slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
</body>
</html>