<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>

<!-- CSS only -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/prettyPhoto.css" />
<link rel="stylesheet" href="css/flexslider.css" />
<link rel="stylesheet" href="css/custom-styles.css">
<link rel="stylesheet" href="css/home.css">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="css/carousel.css" rel="stylesheet">
</head>
<body class="text-center">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><strong>ReWatchApp</strong></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Inicio</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/logout">Cerrar Sesión</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/peliculas">Peliculas</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/series">Series</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/animes">Animes</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Lista
								de Espera</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Favoritos</a>
						</li>
						<li class="nav-item"><a class="nav-link active" href="#">Recomendaciones</a>
						</li>
						<li class="nav-item"><a class="nav-link active" th:href="@{/user/__${session.usersession.id}__}">Mi perfil</a>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>
  
	<main>

		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="item-container text-start">
						<div class="texto">
							<h1 th:text="${popularMovies[5].title}"></h1>
							<p th:text="${popularMovies[5].year}"></p>
							<div class="plot">
								<p th:text="${popularMovies[5].plot}"></p>
							</div>
							<br>
							<p>
								<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${popularMovies[5].id}__}">Más información</a>
							</p>
						</div>
						<div class="portada">
							<img th:src="${popularMovies[5].image}" class="d-inlineblock">
						</div>
					</div>
				</div>
				<div class="carousel-item" th:each="movie : ${moviesForCarousel}">
					<div class="item-container text-start">
						<div class="texto">
							<h1 th:text="${movie.title}"></h1>
							<p th:text="${movie.year}"></p>
							<div class="plot">
								<p th:text="${movie.plot}"></p>
							</div>
							<br>
							<p>
								<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${movie.id}__}">Más información</a>
							</p>
						</div>
						<div class="portada">
							<img th:src="${movie.image}" class="d-inlineblock">
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#myCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#myCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>


		<!-- Listas ================================================== -->
		<div class="lists">
			<div class="movies">
				<h1>Películas</h1>
				<h2>Populares</h2>
				<div class="popular-movies scrollable">
					<div class="media-item" th:each="movie : ${popularMovies}">
						<div class="miniatura">
							<div th:style="'background-image: url(' + ${movie.image} + ');'">
								<div class="info">
									<div>
										<h5 class="titulo" th:text="${movie.title}"></h5>
										<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${movie.id}__}">Más info...</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h2>Próximas</h2>
				<div class="next-movies scrollable">
					<div class="media-item" th:each="movie : ${comingSoonMovies}">
						<div class="miniatura">
							<div th:style="'background-image: url(' + ${movie.image} + ');'">
								<div class="info">
									<div>
										<h5 class="titulo" th:text="${movie.title}"></h5>
										<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${movie.id}__}">Más info...</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h2>Mejores</h2>
				<div class="best-movies scrollable">
					<div class="media-item" th:each="movie : ${bestMovies}">
						<div class="miniatura">
							<div th:style="'background-image: url(' + ${movie.image} + ');'">
								<div class="info">
									<div>
										<h5 class="titulo" th:text="${movie.title}"></h5>
										<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${movie.id}__}">Más info...</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>


		<!-- FOOTER -->
<!--		<footer>
      		<!-- <p class="float-end"><a href="#">Back to top</a></p>-->
    <!--  		<p>Contacto:</p>
      		<p>Correo: <a href="mailto:pozzolidev@gmail.com">pozzolidev@gmail.com</a></p>
      		<p>LinkedIn: <a href="https://www.linkedin.com/in/martinpozzoli/">Martin Pozzoli</a></p>
    	</footer>
	</main>
-->
	<!-- JavaScript Bundle with Popper -->
	<script src="js/bootstrap.bundle.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/jquery.custom.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$("#btn-blog-next").click(function() {
				$('#blogCarousel').carousel('next')
			});
			$("#btn-blog-prev").click(function() {
				$('#blogCarousel').carousel('prev')
			});

			$("#btn-client-next").click(function() {
				$('#clientCarousel').carousel('next')
			});
			$("#btn-client-prev").click(function() {
				$('#clientCarousel').carousel('prev')
			});

		});

		$(window).load(function() {

			$('.flexslider').flexslider({
				animation : "slide",
				slideshow : true,
				start : function(slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
</body>
</html>