<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- CSS only -->
<link href="css/bootstrap.min.css" rel="stylesheet">
 
        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>
    
        
        <!-- Custom styles for this template -->
        <link href="css/signin.css" rel="stylesheet">
      </head>
      <body class="text-center">
      <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><strong>ReWatchApp</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Volver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/registro">Registrarme</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
        
    <main class="form-signin">
      <form action="/logincheck" method="POST">
        <img class="mb-4" src="img/user-default.png" alt="" width="85" height="85">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    	<p th:if="${error != null}" th:text="${error}" style="color:red"></p>
        <p th:if="${logout != null}" th:text="${logout}" style="color:green"></p>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
          <label for="floatingInput">Correo electrónico</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Contraseña</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
      </form>
    </main>
      <!-- JavaScript Bundle with Popper -->
      <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>