<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>
<!-- CSS only -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/signin.css" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"><strong>ReWatchApp</strong></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item"><a class="nav-link active"	aria-current="page" href="/">Volver</a></li>
						<li class="nav-item"><a class="nav-link active" href="/login">Iniciar Sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main class="main-registro">
	<h2 class="dysplay-4">Registro</h2>
	<form action="/registrar" method="POST" class="row g-3" >
		
		<p th:if="${error != null}" th:text="${error}" style="color:red"></p>
		
		<div class="col-md-6">
			<label for="inputNombre" class="form-label">Nombre</label> 
			<input type="text" class="form-control" id="inputFirstName" name="inputFirstName" th:value="${nombre}">
		</div>
		<div class="col-md-6">
			<label for="inputNombre" class="form-label">Apellido</label> 
			<input type="text" class="form-control" id="inputLastName" name="inputLastName" th:value="${apellido}">
		</div>
		<div class="col-md-6">
			<label for="inputEmail" class="form-label">Email</label> 
			<input type="email" class="form-control" id="inputEmail" name="inputEmail" th:value="${email}">
		</div>
		<div class="col-md-6">
			<label for="inputEdad" class="form-label">Fecha de nacimiento</label> 
			<input type="date" class="form-control" id="inputBirthDate" name="inputBirthDate" th:value="${nacimiento}">
		</div>
		<div class="col-md-6">
			<label for="inputPassword1" class="form-label">Contraseña</label> 
			<input type="password" class="form-control" id="inputPassword1" name="inputPassword1" th:value="${pass1}">
		</div>
		<div class="col-md-6">
			<label for="inputPassword2" class="form-label">Repetir Contraseña</label> 
			<input type="password" class="form-control" id="inputPassword2" name="inputPassword2" th:value="${pass2}">
		</div>
		<div class="boton-registro">
			<button type="submit" class="btn btn-primary">Registrarme</button>
		</div>
	</form>
	</main>
	<!-- JavaScript Bundle with Popper -->
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>