<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>

<!-- CSS only -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/user-details.css" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.css">
</head>
<body class="text-center">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/home"><strong>ReWatchApp</strong></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/home">Inicio</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/logout">Cerrar Sesión</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/peliculas">Peliculas</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/series">Series</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/animes">Animes</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Lista
								de Espera</a></li>
						<li class="nav-item"><a class="nav-link active" href="#">Favoritos</a>
						</li>
						<li class="nav-item"><a class="nav-link active" href="#">Recomendaciones</a>
						</li>
						<li class="nav-item"><a class="nav-link active" th:href="@{/user/__${session.usersession.id}__}">Mi Perfil</a>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<br>
		<br>
		<div class="container">
			<div class="user-details">
				<div class="profile-container">
					<div class="profile">
						<img class="mb-4" src="/img/profile-icon.png" alt="profile icon">
						<h2 th:text="${user.firstname}"></h2>
					</div>
				</div>
			</div>
			<div class="lists-container">
				<h1>Mis Películas y Series</h1>
				<div class="favorites">
					<h2>Favoritas</h2>
					<div class="user-list">
						<div class="media-item" th:each="movie : ${favoritesList}" th:unless="${movieStat.index > 4}">
							<div class="miniatura">
								<div th:style="'background-image: url(' + ${movie.image} + ');'">
									<div class="info">
										<div>
											<h5 class="titulo" th:text="${movie.title}"></h5>
											<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${movie.id}__}">Más info...</a>
											<a class="btn btn-lg btn-danger" th:href="@{/media/remove/__${movie.id}__/__${session.usersession.id}__/{listName}(listName='favoritesList')}">Quitar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="media-item">
							<div class="miniatura">
								<div class="info">
									<div>
										<a class="btn btn-lg btn-success" 
										th:href="@{/user/__${session.usersession.id}__/{listName}/1 (listName='favoritesList')}">
										Ver todas</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="waiting-list">
						<h2>Lista de espera</h2>
						<div class="user-list">
							<div class="media-item" th:each="movie : ${waitingList}" th:unless="${movieStat.index > 4}">
								<div class="miniatura">
									<div th:style="'background-image: url(' + ${movie.image} + ');'">
										<div class="info">
											<div>
												<h5 class="titulo" th:text="${movie.title}"></h5>
												<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${movie.id}__}">Más info...</a>
												<a class="btn btn-lg btn-danger" th:href="@{/media/remove/__${movie.id}__/__${session.usersession.id}__/{listName}(listName='waitingList')}">Quitar</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="media-item">
								<div class="miniatura">
									<div class="info">
										<div>
											<a class="btn btn-lg btn-success" 
										th:href="@{/user/__${session.usersession.id}__/{listName}/1 (listName='waitingList')}">
										Ver todas</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="already-seen">
						<h2>Ya vistas</h2>
						<div class="user-list">
							<div class="media-item" th:each="movie : ${alreadySeenList}" th:unless="${movieStat.index > 4}">
								<div class="miniatura">
									<div th:style="'background-image: url(' + ${movie.image} + ');'">
										<div class="info">
											<div>
												<h5 class="titulo" th:text="${movie.title}"></h5>
												<a class="btn btn-lg btn-primary" th:href="@{/media/details/__${movie.id}__}">Más info...</a>
												<a class="btn btn-lg btn-danger" th:href="@{/media/remove/__${movie.id}__/__${session.usersession.id}__/{listName}(listName='alreadySeenList')}">Quitar</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="media-item">
								<div class="miniatura">
									<div class="info">
										<div>
											<a class="btn btn-lg btn-success" 
										th:href="@{/user/__${session.usersession.id}__/{listName}/1 (listName='alreadySeenList')}">
										Ver todas</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			
			</div>
		</div>
		<footer>
      		<p class="float-end"><a href="#">Back to top</a></p>-->
      		<p>Contacto:</p>
      		<p>Correo: <a href="mailto:pozzolidev@gmail.com">pozzolidev@gmail.com</a></p>
      		<p>LinkedIn: <a href="https://www.linkedin.com/in/martinpozzoli/">Martin Pozzoli</a></p>
    	</footer>
	</main>

	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/details.js"></script>
</body>
</html>